{% extends "base.html" %}


{% block title %}Home{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WCC - {{ user.username }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'log-hours' %}">Volunteer</a>
        </li>
        {% if user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
            Reports </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'rpt_timeframe' %}">Volunteer Report</a></li>
                <li><a class="dropdown-item" href="{% url 'rpt_timeframe_activity' %}">Activity Report</a></li>
              </ul>
            </li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}#">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}
