{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row align-items-start">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-header">New Entry</div>
                <div class="card-text">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div> <!-- col -->

    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-header">Entries for the past 7 days</div>
                <div class="card-text">
                    <table class="table">
                    <tr><th>Date</th><th>Activity</th><th>Hours</th><th>Mileage</th></tr>
                    {% for entry in entries %}
                        <tr><td>{{ entry.volunteer_date | date:'m-d-Y' }}</td><td>{{ entry.volunteer_task }}</td><td>{{ entry.hours }}</td><td>{{ entry.mileage }}</td></tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div>


{% endblock %}